@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
    body {
        font-size: 100%;
        background-image: url('fundosite.jpg');
    }

    .cabecalho {
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0.2% ;
        color: white;
        

    }

    .primeira-img {
       
        padding: 0px;
        height: 72px;

    }
    
    .cabecalho-menu {
        display: flex;
        gap: 32px;
        padding-left: 00px;
        
    }
    .cabecalho-menu-item {
        
        font-family: 'Comic Neue';
        color: white;
        font-weight: 400;
        font-size: 18px;
    }

    .conteudo
    {
        border-top: 0.4px solid white;
        margin-bottom: 48px;
    }
    
    .conteudo-principal
    {
        padding: 25px;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .conteudo-principal-escrito
    {
        display: flex;
        flex-direction: column;
        gap: 30px;   

    }

    .conteudo-principal-escrito-titulo
    {
        padding: 20px;
        padding-left: 25%;
        font-weight:400;
        font-size: 32px;
        font-family: 'Comic Neue';
        
    
    }

    .conteudo-principal-escrito-subtitulo
    {
        padding: 10%;
        margin: -8%;
        margin-left: auto;
        font-weight: 400;
        font-size: 20px;
        font-family: Comic Neue;

        
    }
    .conteudo-principal-escrito-subtitulo2
    {
        padding: 10%;
        margin: -8%;
        margin-left: auto;
        font-weight: 400;
        font-size: 20px;
        font-family: Comic Neue;

    }

    .conteudo-butao 
    {
        background-color: rgb(95, 95, 226);
        width: 100px;
        height: 30px;
        border: none;
        box-shadow: 4px 5px 4px white;
        border-radius: 20px;
        font-weight: 400;
        font-size: 16px;
        margin-left: 200px;
        
    }
    

    .conteudo-segundario
    {
        background-color: transparent ;
        padding: 20px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 12px;
        font-family: Comic Neue;
        padding-top: 42px;

    }

    


    .conteudo-segundario-titulo
    {
        
        border-top: 0.4px solid white;
        padding-top: 42px;
        
        
    }


    .rodape
    {   
        display: flex ;
        flex-direction: row;
        align-items:flex-end;
        justify-content:end;
        background-color: rgb(140, 140, 207);
        padding-top: 10px;
        border-top: 0.4px solid white;
        margin-bottom: 4px;
    }
    